## Q2 Data Processing with Pandas (60 points)
In this practice, you are expected to play around Pandas and get familiar with it. The dataset is quarterly dataset downloading from WRDS. Please remember that you need to do data transformation based on the new dataset generated by previous step. Do not using other package other than numpy and pandas.

In [261]:
# --> Import statements
import pandas as pd
import numpy as np

### 1. Read’Energy.xlsx’and’EnergyRating.xlsx’as BalanceSheet and Ratings(dataframe)

In [262]:
BalanceSheet = pd.read_excel("Energy.xlsx") #importing dataset Energy.csv
print(BalanceSheet.head()) #displaying top 5 rows

   Global Company Key  Data Date  Fiscal Year  Fiscal Quarter  \
0                1380   20100331         2010               1
1                1380   20100630         2010               2
2                1380   20100930         2010               3
3                1380   20101231         2010               4
4                1380   20110331         2011               1

   Fiscal Year-end Month Industry Format  \
0                     12            INDL
1                     12            INDL
2                     12            INDL
3                     12            INDL
4                     12            INDL

  Level of Consolidation - Company Interim Descriptor Population Source  \
0                                                  C                  D
1                                                  C                  D
2                                                  C                  D
3                                                  C                  D
4                                                  C                  D

  Data Format Ticker Symbol  ... Implied Option EPS Basic  \
0         STD           HES  ...                      0.0
1         STD           HES  ...                      0.0
2         STD           HES  ...                      0.0
3         STD           HES  ...                      0.0
4         STD           HES  ...                      0.0

  Implied Option EPS Basic Preliminary Implied Option Expense  \
0                                  0.0                    0.0
1                                  0.0                    0.0
2                                  0.0                    0.0
3                                  0.0                    0.0
4                                  0.0                    0.0

  Implied Option Expense Preliminary Research and Development Expense  \
0                                0.0                              NaN
1                                0.0                              NaN
2                                0.0                              NaN
3                                0.0                              NaN
4                                0.0                              NaN

   Selling, General and Administrative Expenses  Stock Exchange Code  \
0                                         559.0                   11
1                                         576.0                   11
2                                         608.0                   11
3                                         805.0                   11
4                                         760.0                   11

   CIK Number  Active/Inactive Status Marker  \
0        4447                              A
1        4447                              A
2        4447                              A
3        4447                              A
4        4447                              A

   Current ISO Country Code - Incorporation
0                                       USA
1                                       USA
2                                       USA
3                                       USA
4                                       USA

[5 rows x 380 columns]

In [263]:
Ratings = pd.read_excel("EnergyRating.xlsx") #importing dataset EnergyRating.csv
print(Ratings.head()) #displaying top 5 rows

   Global Company Key S&P Domestic Long Term Issuer Credit Rating  \
0                1380                                        BBB-
1                1380                                        BBB-
2                1380                                        BBB-
3                1380                                        BBB-
4                1380                                        BBB-

   S&P Subordinated Debt Rating S&P Domestic Short Term Issuer Credit Rating  \
0                           NaN                                          NaN
1                           NaN                                          NaN
2                           NaN                                          NaN
3                           NaN                                          NaN
4                           NaN                                          NaN

   Data Date                           Address Line 1 Ticker Symbol
0   20100131  1185 Avenue of the Americas, 40th Floor           HES
1   20100228  1185 Avenue of the Americas, 40th Floor           HES
2   20100331  1185 Avenue of the Americas, 40th Floor           HES
3   20100430  1185 Avenue of the Americas, 40th Floor           HES
4   20100531  1185 Avenue of the Americas, 40th Floor           HES

### 2. drop the column if more than 90% value in this colnmn is 0 (or missing value).

In [264]:
def dropColumn(df):
    delList = []
    df = df.fillna(value=np.nan)
    for column in df.columns:  
        if(((df[column] == 0).sum() + df[column].isnull().sum() +  df[column].isna().sum())/len(df) > 0.9): # check if value in column is 0 or null or NaN then add
            delList.append(column)
    return delList

print('Size of Dataframes before dropping:')
print('BalanceSheet:',BalanceSheet.shape)
print('Ratings:',Ratings.shape)
print("-------------------")

BalanceSheet = BalanceSheet.drop(columns=dropColumn(BalanceSheet)) #drop columns with more than 90% 0 or null values
Ratings = Ratings.drop(columns=dropColumn(Ratings))

print('Size of Dataframes after dropping:')
print('BalanceSheet:',BalanceSheet.shape)
print('Ratings:',Ratings.shape)

Size of Dataframes before dropping:
BalanceSheet: (844, 380)
Ratings: (2522, 7)
-------------------
Size of Dataframes after dropping:
BalanceSheet: (844, 138)
Ratings: (2522, 5)

### 3. replace all None or NaN with average value of each column.

In [269]:
BalanceSheet = BalanceSheet.fillna(value = BalanceSheet.mean())
Ratings = Ratings.fillna(value = Ratings.mean())

### 4. Normalize the table (Only need to normalize numerical parts)

In [270]:
def normalize(df):
    num_cols = list(df.columns[df.dtypes.apply(lambda c: np.issubdtype(c, np.number))])
    for col in num_cols: 
        df[col].apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
    return df

BalanceSheet = normalize(BalanceSheet)
Ratings = normalize(Ratings)

### 5. Define an apply function to return the statistical information for variables = [’Current Assets - Other - Total’, ’Current Assets - Total’, ’Other Long-term Assets’, ’Assets Netting & Other Adjustments’], you need to return a dataframe which has exactly same format with pandas method .describe().

In [271]:
index = ["count", "mean", "std", "mean", "25%", "50%", "75%", "max"]
column_names = ["Current Assets - Other - Total", "Current Assets - Total",
        "Other Long-term Assets", "Assets Netting & Other Adjustments"]

df = pd.DataFrame(columns = column_names, index = index)

In [272]:
def res(col): 
    data = [len(col), col.mean(), col.std(), col.min()] #calculate data points
    q1, q2, q3 = col.quantile([.25, .5, .75]).to_list()
    data += [q1, q2, q3, col.max()]
    return data
temp = BalanceSheet[column_names].apply(res, axis=0) #calling res function
for i in df.columns: 
    df[i] = temp[i] #adding back to dataframe
print(df)

,Current Assets - Other - Total,Current Assets - Total,Other Long-term Assets,Assets Netting & Other Adjustments
count,844.000000,844.000000,844.000000,844.000000
mean,1037.255108,9735.614198,1486.818614,-166.147714
std,1578.836159,13568.222671,2441.795091,560.878237
mean,2.671000,144.786000,13.072000,-9558.000000
25%,181.500000,1499.018250,187.456000,-166.147714
50%,448.677000,4744.000000,827.000000,0.000000
75%,1037.255108,11617.250000,1492.000000,0.000000
max,9476.000000,76160.000000,40233.000000,138.000000

### 6. Calculate the correlation matrix for variables = [’Current Assets - Other - Total’, ’Current Assets - Total’, ’Other Long-term Assets’, ’Assets Netting & Other Adjustments’].

In [273]:
correlation = BalanceSheet[column_names].corr()
correlation

,Current Assets - Other - Total,Current Assets - Total,Other Long-term Assets,Assets Netting & Other Adjustments
Current Assets - Other - Total,1.000000,0.790047,0.629802,0.042504
Current Assets - Total,0.790047,1.000000,0.665006,-0.072010
Other Long-term Assets,0.629802,0.665006,1.000000,-0.017979
Assets Netting & Other Adjustments,0.042504,-0.072010,-0.017979,1.000000

### 7. If you look at column (’Company Name’), you will find some company name end with ’CORP’, ’CO’ or ’INC’. Create a new column (Name: ’CO’) to store the last word of company name. (For example: ’CORP’ or, ’CO’ or ’INC’) (Hint: using map function)

In [274]:
BalanceSheet["CO"] = BalanceSheet["Company Name"].map(lambda x: x.split()[-1])

### 8. Merge (inner) Ratings and BalanceSheet based on ’datadate’ and ’Global Com- pany Key’, and name merged dataset ’Matched’.

In [275]:
Matched = pd.merge(Ratings, BalanceSheet, how="inner",on=["Data Date", "Global Company Key"])
Matched.head()

,Global Company Key,S&P Domestic Long Term Issuer Credit Rating,Data Date,Address Line 1,Ticker Symbol_x,Fiscal Year,Fiscal Quarter,Fiscal Year-end Month,Industry Format,Level of Consolidation - Company Interim Descriptor,...,Working Capital (Balance Sheet),Extraordinary Items and Discontinued Operations,Interest and Related Expense- Total,Operating Expense- Total,"Selling, General and Administrative Expenses",Stock Exchange Code,CIK Number,Active/Inactive Status Marker,Current ISO Country Code - Incorporation,CO
0,1380,BBB-,20100331,"1185 Avenue of the Americas, 40th Floor",HES,2010,1,12,INDL,C,...,1615.0,0.0,85.0,7628.0,559.0,11,4447,A,USA,CORP
1,1380,BBB-,20100630,"1185 Avenue of the Americas, 40th Floor",HES,2010,2,12,INDL,C,...,1966.0,0.0,84.0,6412.0,576.0,11,4447,A,USA,CORP
2,1380,BBB,20100930,"1185 Avenue of the Americas, 40th Floor",HES,2010,3,12,INDL,C,...,2272.0,0.0,95.0,6452.0,608.0,11,4447,A,USA,CORP
3,1380,BBB,20101231,"1185 Avenue of the Americas, 40th Floor",HES,2010,4,12,INDL,C,...,1167.0,0.0,102.0,7600.0,805.0,11,4447,A,USA,CORP
4,1380,BBB,20110331,"1185 Avenue of the Americas, 40th Floor",HES,2011,1,12,INDL,C,...,2085.0,0.0,101.0,8373.0,760.0,11,4447,A,USA,CORP

### 9. Mapping
For dataset ’Matched’, we have following mapping: AAA = 0
AA+ = 1
AA = 2
 AA- =3 A+ = 4 A=5
A- = 6 BBB+ = 7
2
BBB = 8
BBB- = 9
BB+ = 10
BB = 11
others = 12
Using map function to create a new varible = ’Rate’, which maps ratings to numerical ratings.

In [276]:
ratings = {"AAA": 0, "AA+": 1, "AA": 2, "AA-": 3, "A+": 4, "A": 5, "A-": 6,"BBB+": 7, "BBB": 8, "BBB-": 9, "BB+": 10, "BB": 11}
Matched["Rate"] = Matched['S&P Domestic Long Term Issuer Credit Rating'].map(lambda x: ratings.get(x, 12))

In [277]:
Matched.head()

,Global Company Key,S&P Domestic Long Term Issuer Credit Rating,Data Date,Address Line 1,Ticker Symbol_x,Fiscal Year,Fiscal Quarter,Fiscal Year-end Month,Industry Format,Level of Consolidation - Company Interim Descriptor,...,Extraordinary Items and Discontinued Operations,Interest and Related Expense- Total,Operating Expense- Total,"Selling, General and Administrative Expenses",Stock Exchange Code,CIK Number,Active/Inactive Status Marker,Current ISO Country Code - Incorporation,CO,Rate
0,1380,BBB-,20100331,"1185 Avenue of the Americas, 40th Floor",HES,2010,1,12,INDL,C,...,0.0,85.0,7628.0,559.0,11,4447,A,USA,CORP,9
1,1380,BBB-,20100630,"1185 Avenue of the Americas, 40th Floor",HES,2010,2,12,INDL,C,...,0.0,84.0,6412.0,576.0,11,4447,A,USA,CORP,9
2,1380,BBB,20100930,"1185 Avenue of the Americas, 40th Floor",HES,2010,3,12,INDL,C,...,0.0,95.0,6452.0,608.0,11,4447,A,USA,CORP,8
3,1380,BBB,20101231,"1185 Avenue of the Americas, 40th Floor",HES,2010,4,12,INDL,C,...,0.0,102.0,7600.0,805.0,11,4447,A,USA,CORP,8
4,1380,BBB,20110331,"1185 Avenue of the Americas, 40th Floor",HES,2011,1,12,INDL,C,...,0.0,101.0,8373.0,760.0,11,4447,A,USA,CORP,8

### 10. Calculate the rating frequency of company whose name end with ’CO’. (Calcu- late the distribution of rating given the company name ending with ’CO’, Hint, use map function)

In [278]:
freq = Matched[Matched["CO"] == "CO"]["Rate"].value_counts() / len(Matched[Matched["CO"] == "CO"])
print("\nQ10. Frequency counts:")
print(freq)

Q10. Frequency counts:
9     0.446429
10    0.258929
5     0.223214
11    0.044643
7     0.017857
6     0.008929
Name: Rate, dtype: float64