In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(r'HW5_Q2_data.csv')
df.head()

,Date,stock_0,stock_1,stock_2,stock_3,stock_4,stock_5,stock_6,stock_7,stock_8,...,stock_1131,stock_1132,stock_1133,stock_1134,stock_1135,stock_1136,stock_1137,stock_1138,stock_1139,stock_1140
0,1990-01-03,-0.561639,0.113423,-1.580584,-0.017527,1.055723,1.306785,-0.692687,1.303057,-0.243042,...,1.410213,-0.307705,0.829215,-0.505364,0.232976,-0.393465,-0.471561,-0.308961,-0.202832,-0.205398
1,1990-01-04,-1.841947,0.463435,-1.172764,0.513875,2.470817,0.463057,0.427191,-0.737959,1.455408,...,-0.656517,-1.327001,0.770307,0.485192,-0.199085,-0.590958,-0.513262,0.369685,-0.549467,0.279644
2,1990-01-05,-0.277859,0.216396,-0.429848,0.802112,2.686740,0.059472,-0.895917,-0.785620,0.022776,...,0.098997,0.197211,-2.003799,2.101860,0.442342,-0.677487,-0.955708,0.926602,-0.762952,2.046626
3,1990-01-08,-0.881483,1.867996,-1.659936,0.313561,0.868181,-1.923021,-1.788387,2.902709,0.600026,...,-0.366244,0.480905,-0.780784,-0.131875,-0.657870,-1.526045,-0.140225,1.410707,0.168989,0.787590
4,1990-01-09,-0.534578,0.413210,0.004407,1.223128,0.972728,1.420754,1.864039,1.564482,0.243046,...,1.469816,0.017081,-1.603788,-2.895389,0.540079,-1.126372,-1.737689,1.036790,1.243899,0.069950

In [20]:
print ("total null values: ", df.isna().sum().sum())
print(df.shape)

total null values:  96
(998, 1141)

In [21]:
df = df.dropna()
print(df.shape)

(904, 1141)

In [22]:
duplicate_rows_df = df[df.duplicated()]
print ("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 1141)

In [23]:
df.head()

,Date,stock_0,stock_1,stock_2,stock_3,stock_4,stock_5,stock_6,stock_7,stock_8,...,stock_1131,stock_1132,stock_1133,stock_1134,stock_1135,stock_1136,stock_1137,stock_1138,stock_1139,stock_1140
1,1990-01-04,-1.841947,0.463435,-1.172764,0.513875,2.470817,0.463057,0.427191,-0.737959,1.455408,...,-0.656517,-1.327001,0.770307,0.485192,-0.199085,-0.590958,-0.513262,0.369685,-0.549467,0.279644
2,1990-01-05,-0.277859,0.216396,-0.429848,0.802112,2.686740,0.059472,-0.895917,-0.785620,0.022776,...,0.098997,0.197211,-2.003799,2.101860,0.442342,-0.677487,-0.955708,0.926602,-0.762952,2.046626
3,1990-01-08,-0.881483,1.867996,-1.659936,0.313561,0.868181,-1.923021,-1.788387,2.902709,0.600026,...,-0.366244,0.480905,-0.780784,-0.131875,-0.657870,-1.526045,-0.140225,1.410707,0.168989,0.787590
4,1990-01-09,-0.534578,0.413210,0.004407,1.223128,0.972728,1.420754,1.864039,1.564482,0.243046,...,1.469816,0.017081,-1.603788,-2.895389,0.540079,-1.126372,-1.737689,1.036790,1.243899,0.069950
5,1990-01-10,0.024399,-1.704685,0.856400,1.246015,1.388460,1.397542,-0.306875,0.245723,-0.402926,...,0.735477,0.297814,-1.289668,2.477726,-0.040278,-2.100017,0.675695,-0.688262,1.770478,-0.879225